.c {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    height: calc(100vh - 169px);
    justify-content: space-evenly;
}

.title {
    font-size: 3rem;
    padding: 2rem 0 0 5.6rem;
}

.form {
    padding-top: 5rem;
}

.form > .form__up {
    margin: 2.5rem 0;
}

.form__up {
    display: flex;
}

.form__up > * {
    padding: 0 1.1rem;
}

.form__down {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
}

.form__down > * {
    margin: 4px 0;
}

.form__down textarea {
    border: 1px solid rgba(0, 0, 0, 0.38);
    box-sizing: border-box;
    border-radius: 8px;
}

.form__container {
    display: flex;
}


