.container {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 60%;
}

.introText {
    padding: 0 0 2rem 0;
}

.introText h2 {
    font-size: 4em;
    line-height: 1.5em;
}

.introText span {
    display: block;
    padding: 2rem 0 4rem 0;
}


